.col-sm {
  height: 10vw;
  width: 10vw;
    background-size: cover;
    background-repeat: no-repeat;

}
.main_img_container{
  position: absolute;
  top: 20vh;
  left:2vw;
  height: 40vw;
  border: black 1pt solid;
  width: 45vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.new_album {
  margin-top: 30vh;
}
.main_table{

   width:45vw;

}
.main_table td{

  padding: 1vw;

}

#trash{height: 5vw;
width: 5vw;
background-image: url('http://i.imgur.com/uXoQ3e0.png');
background-size: contain;
background-repeat: no-repeat;
}

#add_album {
  height: 5vw;
  width: 5vw;
  background-image: url('http://i.imgur.com/H1smiYX.png');
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-color: #C2D4EC;
  border: 0;
  margin: 0;
}

.table_holder {
  position: absolute;
  top: 20vh;
  left: 0;
  height: 100vh;
  border: 0;
  z-index: 0;
}
#right{
  position: fixed;
  left:50vw;
  height: 100vh;
  border: 0;
  width: 50vw;
}
#upload{
  position: fixed;
  top:50vw;
  height: 100vh;
  border: 0;
  width: 50vw;
}

#drop_here {
  color: #BDBDBD;
  font-size: 20pt;
  margin-left: 26%;
  margin-top: 10%;
}

.2{
  height: 2vw;
  width: 2vw;

  margin-top: 20rem;
}

#drop {
  position: absolute;
  top: 25vh;
  min-height: 150px;
  width: 250px;
  border: 1px solid blue;
  margin: 10px;
  padding: 10px;
}





.page-header {
    background-color: #406BA7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width:100vw;
    position: fixed;
    z-index: 1;
    border: none;
}

#list img {
  max-height: 10vh;
  max-width: 14vh;
}

.delete_img{
    float:right;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.delete_img:before {
    content: "×";

}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.selected{
    box-shadow:0px 1rem 1rem .5rem #333;
    border: 1pt blue solid;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}
.comment {
    margin: 20px 0px 20px 20px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
