.col-sm {
  height: 10vw;
  width: 10vw;
    background-size: cover;
    background-repeat: no-repeat;

}
.main_img_container{
  position: absolute;
  top: 20vh;
  left:2vw;
  height: 40vw;
  border: black 1pt solid;
  width: 45vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main_table{

   width:45vw;

}
.main_table td{

  padding: 1vw;

}




body {
  background-color: #C2D4EC;
  border: 0;
  margin: 0;
}

.table_holder {
  position: absolute;
  top: 20vh;
  left: 0;
  height: 100vh;
  border: 0;
  z-index: 0;
}
#right{
  position: fixed;
  left:50vw;
  height: 100vh;
  border: 0;
  width: 50vw;
}
#upload{
  position: fixed;
  top:50vw;
  height: 100vh;
  border: 0;
  width: 50vw;
}



.2{
  height: 2vw;
  width: 2vw;

  margin-top: 20rem;
}

#drop {
  position: absolute;
  top: 25vh;
  min-height: 150px;
  width: 250px;
  border: 1px solid blue;
  margin: 10px;
  padding: 10px;
}
